/*
Summer Turner
CSCI 342 Web Scripting, Fall 2017
A style sheet for ascii.html.
*/
body {
    background: #CCCCFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

h1, p {
    font-family: sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32pt;
    margin: 0px;
    text-align: center;
}

p {
    font-size: 14pt;
}

textarea {
    width: 90%;
    height: 400px;
    background: white;
    display: block;
    margin: auto;
    outline: none;
    font-family: monospace;
    font-size: 12pt;
}

fieldset {
    border: 5px solid black;
    display: inline-block;
}

.behavior {
    text-align: center;
}

.behaviorcontrols {
    display: inline-block;
}
